.App {
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #2f74c0;
}
.heading {
  font-size: 40px;
  margin: 30px 0;
  color: white;
  z-index: 100vh;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}
